@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  letter-spacing: 1px;
}

.border-radius {
  border-radius: 4px;
}

input {
  padding: 4px;
  color: rgb(20, 19, 19);

  height: 40px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgb(221, 221, 221);
  padding: 8px;
}

.button {
  transition: 0.1s ease-in-out;
  padding: 8px;
  letter-spacing: 1px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  letter-spacing: 2px;
  transition: 0.2s ease-in-out;
}
